<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Manage articles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        <%= link_to ("add new"), new_article_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-12">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5> List article </h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>title</th>
                  <th>image</th>
                  <th>content</th>
                  <th>function</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "article", collection: @articles %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <%= will_paginate(@articles, renderer: BootstrapPagination::Rails)%>
      </div>
    </div>
  </div>
</div>
