<% content_for :title, 'Shop Cafe' %>
<% content_for :script, javascript_include_tag(:shop) %>
<% content_for :script do %>
<!-- include  parallax plugin -->
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="assets/js/icheck.min.js"></script>

<% end %>

<div class="container main-container headerOffset-checkout">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="cart.html">Cart</a></li>
        <li class="active"> Checkout</li>
      </ul>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner"><span><i class="fas fa-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
      <h4 class="caps"><%= link_to root_path do %>
          <i class="fa fa-chevron-left"></i> Back to shopping
        <% end %>
      </h4>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
            <ul class="orderStep orderStepLook2 order-pointer">
              <li class="active" id="order-step-1">
                <a><i class="fa fa-map-marker"> </i><span> address </span></a>
              </li>
              <li id="order-step-2">
                <a><i class="fa fa fa-envelope"></i><span> Billing </span></a>
              </li>
              <li id="order-step-3">
                <a><i class="fa fa-truck"></i><span> Shipping </span></a>
              </li>
              <li id="order-step-4">
                <a><i class="fa fa-money"> </i><span> Payment </span></a>
              </li>
              <li id="order-step-5">
                <a><i class="fa fa-check-square "> </i><span> Order </span></a>
              </li>
            </ul>
            <!--/.orderStep end-->
          </div>
            <!-- checkout-main -->
          <div class="w100 clearfix">
            
              <div class="row userInfo" id="step-1">
                <div class="col-lg-12">
                  <h2 class="block-title-2"> To add a new address, please fill out the form below. 
                  </h2>
                </div>
                <% if @service_user.current_user %>
                  <%= form_with model: @customers do |form| %>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group required">
                        <%= form.label :first_name, 'First Name', for: 'InputName' %>
                          <sup>*</sup>
                        <%= form.text_field :first_name, :class => 'form-control', placeholder: 'First Name', type: 'text', id: 'object_address_1', value: @service_user.current_user.first_name %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :last_name, 'Last Name', for: 'InputName' %>
                        <sup>*</sup>
                        <%= form.text_field :last_name, :class => 'form-control', placeholder: 'Last Name', type: 'text', id: 'object_address_2', value: @service_user.current_user.last_name %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :email, 'Email', for: 'InputEmail' %>
                        <sup>*</sup>
                        <%= form.text_field :email, :class => 'form-control', placeholder: 'Email', type: 'text', id: 'object_address_3', value: @service_user.current_user.email %>
                      </div>
                      <div class="form-group">
                        <%= form.label :company, 'Company', for: 'InputCompany'%>
                        <%= form.text_field :company, :class => 'form-control', placeholder: 'Company', type: 'text', id: 'object_address_4' %>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group required">
                        <%= form.label :address, 'Address', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :address, :class => 'form-control', placeholder: 'Address', type: 'text' , id: 'object_address_5'%>
                      </div>
                      <div class="form-group required">
                        <%= form.label :address_deliver, 'Address deliver', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :address_deliver, :class => 'form-control', placeholder: 'Address deliver', type: 'text', id: 'object_address_6' %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :phone, 'Mobile phone', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :phone, :class => 'form-control', type: 'text', id: 'object_address_7' %>
                      </div>
                    </div>
                    <div class="cartFooter w100">
                      <div class="box-footer">
                        <div class="pull-left">
                          <%= link_to root_path, class: 'btn btn-default' do %>
                            <i class="fa fa-arrow-left"></i> &nbsp; Back to Shop </a>
                          <% end %>
                        </div>
                        <div class="pull-right">
                          <%= button_tag type: 'submit', class: 'btn btn-primary btn-small', onclick: 'load_steps_checkout(2)' do %>
                            Billing method &nbsp; <i class="fa fa-arrow-circle-right"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= form_with model: @customers do |form| %>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group required">
                        <%= form.label :first_name, 'First Name', for: 'InputName' %>
                          <sup>*</sup>
                        <%= form.text_field :first_name, :class => 'form-control', placeholder: 'First Name', type: 'text', id: 'object_address_1' %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :last_name, 'Last Name', for: 'InputName' %>
                        <sup>*</sup>
                        <%= form.text_field :last_name, :class => 'form-control', placeholder: 'Last Name', type: 'text', id: 'object_address_2' %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :email, 'Email', for: 'InputEmail' %>
                        <sup>*</sup>
                        <%= form.text_field :email, :class => 'form-control', placeholder: 'Email', type: 'text', id: 'object_address_3' %>
                      </div>
                      <div class="form-group">
                        <%= form.label :company, 'Company', for: 'InputCompany'%>
                        <%= form.text_field :company, :class => 'form-control', placeholder: 'Company', type: 'text', id: 'object_address_4' %>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group required">
                        <%= form.label :address, 'Address', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :address, :class => 'form-control', placeholder: 'Address', type: 'text' , id: 'object_address_5'%>
                      </div>
                      <div class="form-group required">
                        <%= form.label :address_deliver, 'Address deliver', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :address_deliver, :class => 'form-control', placeholder: 'Address deliver', type: 'text', id: 'object_address_6' %>
                      </div>
                      <div class="form-group required">
                        <%= form.label :phone, 'Mobile phone', for: 'Address' %>
                        <sup>*</sup>
                        <%= form.text_field :phone, :class => 'form-control', type: 'text', id: 'object_address_7' %>
                      </div>
                    </div>
                    <div class="cartFooter w100">
                      <div class="box-footer">
                        <div class="pull-left">
                          <%= link_to root_path, class: 'btn btn-default' do %>
                            <i class="fa fa-arrow-left"></i> &nbsp; Back to Shop </a>
                          <% end %>
                        </div>
                        <div class="pull-right">
                          <%= button_tag type: 'submit', class: 'btn btn-primary btn-small', onclick: 'load_steps_checkout(2)' do %>
                            Billing method &nbsp; <i class="fa fa-arrow-circle-right"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                
              </div>
              <div class="row userInfo" id="step-2">
                <div class="col-lg-12">
                  <h2 class="block-title-2"> 
                    To add a billing address, please fill out the form below.
                  </h2>
                </div>
                <div class="col-xs-12 col-sm-12" hidden>
                  <label class="checkbox-inline checkbox-order col-md-5" for="checkboxes-0">
                    <div class="icheckbox_square-green iCheck-margin" style="position: relative;">
                      <input name="checkboxes" id="checkbox-form" checked type="checkbox" style="position: absolute;">                    
                    </div>
                    My delivery and billing addresses are the same. 
                  </label>
                  <hr>
                </div>


                <%= form_with model: @receivers do |form| %>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required">
                      <%= form.label :first_name, 'First Name', for: 'InputName' %>
                        <sup>*</sup>
                      <%= form.text_field :first_name, :class => 'form-control', placeholder: 'First Name', type: 'text', id: 'object_billing_1' %>
                    </div>
                    <div class="form-group required">
                      <%= form.label :last_name, 'Last Name', for: 'InputName' %>
                      <sup>*</sup>
                      <%= form.text_field :last_name, :class => 'form-control', placeholder: 'Last Name', type: 'text', id: 'object_billing_2' %>
                    </div>
                    <div class="form-group required">
                      <%= form.label :email, 'Email', for: 'InputEmail' %>
                      <sup>*</sup>
                      <%= form.text_field :email, :class => 'form-control', placeholder: 'Email', type: 'text', id: 'object_billing_3' %>
                    </div>
                    <div class="form-group">
                      <%= form.label :company, 'Company', for: 'InputCompany'%>
                      <%= form.text_field :company, :class => 'form-control', placeholder: 'Company', type: 'text' , id: 'object_billing_4' %>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group required">
                      <%= form.label :address, 'Address', for: 'Address' %>
                      <sup>*</sup>
                      <%= form.text_field :address, :class => 'form-control', placeholder: 'Address', type: 'text' , id: 'object_billing_5' %>
                    </div>
                    <div class="form-group required">
                      <%= form.label :address_deliver, 'Address deliver', for: 'Address' %>
                      <sup>*</sup>
                      <%= form.text_field :address_deliver, :class => 'form-control', placeholder: 'Address deliver', type: 'text' , id: 'object_billing_6' %>
                    </div>
                    <div class="form-group required">
                      <%= form.label :phone, 'Mobile phone', for: 'Address' %>
                      <sup>*</sup>
                      <%= form.text_field :phone, :class => 'form-control', type: 'text', id: 'object_billing_7' %>
                    </div>
                  </div>

                  <div class="cartFooter w100">
                    <div class="box-footer">
                      <div class="pull-left">
                        <%= button_tag type: 'submit', class: 'btn btn-default', onclick: 'load_steps_checkout(1)' do %>
                          <i class="fa fa-arrow-left"></i> &nbsp; Shipping address 
                        <% end %>
                      </div>
                      <div class="pull-right">
                        <%= button_tag type: 'submit', class: 'btn btn-primary btn-small', onclick: 'load_steps_checkout(3)' do %>
                          Shipping method &nbsp; <i class="fa fa-arrow-circle-right"></i> 
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>

              <div class="row userInfo" id="step-3">
                <div class="col-lg-12">
                  <h2 class="block-title-2"> Choose your delivery time 
                  </h2>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <div class="w100 row">
                    <div class="form-group col-lg-4 col-sm-4 col-md-4 -col-xs-12">
                      <label for="id_country">Time</label>
                      <select class="form-control" required="" aria-required="true" id="id_country" name="id_country" tabindex="-1" aria-hidden="true" onclick="delivery_time()">
                        <option selected="selected" id="now">Now!</option>
                        <option id="later">Later!</option>
                      </select>
                    </div>
                    <%= form_with model: @transactions do |form| %>
                      <div id="id-hours" class="form-group  col-lg-4 col-sm-4 col-md-4 -col-xs-12">
                          <%= form.label :hours, 'Hours' %>
                            <sup>*</sup>
                          <%= form.text_field :hours, :class => 'form-control', placeholder: 'Enter hours', type: 'text' %>
                      </div>
                      <div id="id-minutes" class="form-group  col-lg-4 col-sm-4 col-md-8 -col-xs-12">
                          <%= form.label :minutes, 'Minutes' %>
                            <sup>*</sup>
                          <%= form.text_field :minutes, :class => 'form-control', placeholder: 'Enter minutes', type: 'text' %>
                      </div>
                    <% end %>

                    <div class="form-group col-lg-12 col-sm-12 col-md-12 -col-xs-12">
                        <table style="width:100%" class="table-bordered table tablelook2">
                            <tbody>
                            <tr>
                                <td> Carrier</td>
                                <td>Method</td>
                                <td>Information</td>
                                <td>Price!</td>
                            </tr>
                            <tr>
                                <td><label class="radio">
                                    <div class="iradio_square-green iChk iCheck-margin checked" style="position: relative;"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    <i class="fas fa-motorcycle fa-2x"></i> </label></td>
                                <td>By Road</td>
                                <td>Pick up in-store</td>
                                <td>Free!</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                  </div>
                </div>

                <div class="cartFooter w100">
                  <div class="box-footer">
                      <div class="pull-left">
                        <button type="button" class="btn btn-default" onclick="load_steps_checkout(2)">
                          <i class="fa fa-arrow-left"></i> &nbsp; Shipping method 
                        </button>
                      </div>
                      <div class="pull-right">
                        <button type="button" onclick="load_steps_checkout(4)" class="btn btn-primary btn-small "> Payment Method &nbsp; <i class="fa fa-arrow-circle-right"></i> 
                        </button>
                      </div>
                  </div>                
                </div>
              </div>

              <div class="row userInfo" id="step-4">
                <div class="col-lg-12">
                  <h2 class="block-title-2"> Payment method </h2>
                  <p>Please select the preferred shipping method to use on this order.</p>
                  <hr>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <div class="paymentBox">
                    <div class="panel-group paymentMethod" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                          <h4 class="panel-title"><a class="cashOnDelivery" data-toggle="collapse" data-parent="#accordion" onclick="load_option_payment(1)">
                              <span class="numberCircuil">Option 1</span> <strong> Cash on
                              Delivery</strong> </a></h4>
                        </div>
                        <div id="payment-option-1" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <p>All transactions are secure and encrypted, and we neverstor To
                                learn more, please view our privacy policy.</p>
                            <br>
                            
                            <div class="form-group">
                              <label for="CommentsOrder">Add Comments About Your Order</label>
                              <textarea id="CommentsOrder" class="form-control" name="CommentsOrder" cols="26" rows="3"></textarea>
                            </div>
                            <div class="form-group clearfix col-sm-12">
                                <label class="checkbox-inline" for="checkboxes-1">
                                    <div class="icheckbox_square-green iCheck-margin" style="position: relative;"><input name="checkboxes" id="cb_payment" onclick="cb_payment()" type="checkbox" style="position: absolute;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    I have read and agree to the 
                                    <%#= link_to 'Terms & Conditions', terms_conditions_path %>
                                    <a onclick="terms_conditions()" >Terms &amp; Conditions</a>
                                </label>
                            </div>
                            <div class="pull-right">
                              <button id="btn_payment" disabled="true" type="button" class="btn btn-primary btn-small" onclick="load_steps_checkout(5)"> <i class="fa fa-arrow-circle-right"></i> &nbsp; Order 
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                                           
                    </div>
                  </div>

                    <!--/row-->
                </div>

                <div class="cartFooter w100">
                  <div class="box-footer">
                    <div class="pull-left"><button type="button" class="btn btn-default" onclick="load_steps_checkout(3)"> <i class="fa fa-arrow-left"></i> &nbsp; Shipping address </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row userInfo" id="step-5">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Review Order </h2>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="cartContent w100 checkoutReview ">
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>
                            <tr class="CartProduct cartTableHeader">
                                <th style="width:15%"> Product</th>
                                <th class="checkoutReviewTdDetails">Details</th>
                                <th style="width:10%">Unit Price</th>
                                <th class="hidden-xs" style="width:5%">QNT</th>
                                <th class="hidden-xs" style="width:10%">Discount</th>
                                <th style="width:15%">Total</th>
                            </tr>
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="product-details.html"><img src="images/product/3.jpg"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4><a href="product-details.html">Denim T shirt Black </a></h4>
                                        <span class="size">12 x 1.5 L</span>

                                    </div>
                                </td>
                                <td class="delete">
                                    <div class="price ">$116.51</div>
                                </td>
                                <td class="hidden-xs">1</td>
                                <td class="hidden-xs">0</td>
                                <td class="price">$116.51</td>
                            </tr>
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="product-details.html"><img src="images/product/2.jpg"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4><a href="product-details.html">Denim T shirt </a></h4>
                                        <span class="size">12 x 1.5 L</span>

                                    </div>
                                </td>
                                <td class="delete">
                                    <div class="price ">$50</div>
                                </td>
                                <td class="hidden-xs">1</td>
                                <td class="hidden-xs">0</td>
                                <td class="price">$50</td>
                            </tr>
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="product-details.html"><img src="images/product/5.jpg"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4><a href="product-details.html">Denim T shirt Red </a></h4>
                                        <span class="size">12 x 1.5 L</span>

                                    </div>
                                </td>
                                <td class="delete">
                                    <div class="price ">$50</div>
                                </td>
                                <td class="hidden-xs">1</td>
                                <td class="hidden-xs">0</td>
                                <td class="price">$50</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w100 costDetails">
                  <div class="table-block" id="order-detail-content">
                      <table class="std table" id="cart-summary">
                          <tbody><tr>
                              <td>Total products</td>
                              <td class="price">$216.51</td>
                          </tr>
                          <tr style="">
                              <td>Shipping</td>
                              <td class="price"><span class="success">Free shipping!</span></td>
                          </tr>
                          <tr class="cart-total-price ">
                              <td>Total (tax excl.)</td>
                              <td class="price">$216.51</td>
                          </tr>
                          <tr>
                              <td>Total tax</td>
                              <td id="total-tax" class="price">0.00</td>
                          </tr>
                          <tr>
                              <td> Total</td>
                              <td id="total-price" class="price">$216.51</td>
                          </tr>
                          </tbody><tbody>
                          </tbody>
                      </table>
                  </div>
                </div>
                    <!--/costDetails-->
                <div class="cartFooter w100">
                  <div class="box-footer">
                    <div class="pull-left"><button type="button" class="btn btn-default" onclick="load_steps_checkout(4)"><i class="fa fa-arrow-left"></i> &nbsp; Payment method 
                      </button>
                    </div>
                    <div class="pull-right">
                      <%= button_tag root_path, class: 'btn btn-primary btn-small', type: 'submit' do %>
                        Confirm Order &nbsp; <i class="fa fa-check"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
        <!--/row end-->
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div class="w100 cartMiniTable">
        <table id="cart-summary" class="std table">
          <tbody>
          <tr>
            <td>Total products</td>
            <td class="price">$216.51</td>
          </tr>
          <tr style="">
            <td>Shipping</td>
            <td class="price"><span class="success">Free shipping!</span></td>
          </tr>
          <tr class="cart-total-price ">
            <td>Total (tax excl.)</td>
            <td class="price">$216.51</td>
          </tr>
          <tr>
            <td>Total tax</td>
            <td class="price" id="total-tax">$0.00</td>
          </tr>
          <tr>
            <td> Total</td>
            <td class=" site-color" id="total-price">$216.51</td>
          </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
      <!--  /cartMiniTable-->
    </div>
  </div>
  <!--/row-->
</div>
