<div class="container main-container headerOffset1">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="category.html">Category</a></li>
        <li class="active"> Order</li>
      </ul>
    </div>
  </div>
  <!--/.row-->


  <div class="row">
    <div class="col-lg-12 ">
      <div class="row userInfo">

        <div class="col-lg-7 col-center">
          <div class="cartContent table-responsive  w100">
            <table style="width:100%" class="cartTable cartTableBorder">
              <tbody>
                <tr class="CartProduct cartTableHeader">
                  <td style="width:15%"> Product</td>
                  <td style="width:30%">Details</td>
                  <td style="width:20%">Quantity</td>
                  <td style="width:35%">Total</td>
                </tr>

                <% @order_items.each do |order_detail| %>
                <tr class="CartProduct">
                  <td class="CartProductThumb">
                    <div>
                      <%= link_to order_detail.product do %>
                      <%= image_tag "#{order_detail.product.image_link}" %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <div class="CartDescription">
                      <h4>
                        <%= link_to order_detail.product do %>
                        <%= order_detail.product.name %>
                        <% end %>
                      </h4>
                      <div class="price">
                        <span>
                          <%= order_detail.price %>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= label_tag "#{order_detail.quantity}", nil,  class: "btn"%>
                  </td>
                  <td class="price"><%= order_detail.quantity * order_detail.price.to_i %></td>
                </tr>
                <% end %>


              </tbody>
            </table>
          </div>

          <div class="cartFooter w100">
            <div class="box-footer">
              <h4>Total payment</h4>
              <span><h4 class="price"><%= @total_price %> VND</h4></span>
            </div>
          </div>
        </div>
      </div>
      <!--/row end-->

    </div>

    <!--/rightSidebar-->

  </div>
  <!--/row-->

  <div style="clear:both"></div>
</div>