<div class="sidebar" data-color="#FFFF1D" data-image="http://eaglespeak.com/wp-content/uploads/2016/08/coffee-beans-1-e1471031754821.jpg">
  <div class="sidebar-wrapper">
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag("#{image_path 'admin/images/sidebar.jpg'}", :alt => 'TSHOP', class: "img-circle profile_img") %>
      </div>
      <div class="profile_info">
        <span>Welcome!</span>
        <h2>Trang Phung</h2>
      </div>
    </div>
    <ul class="nav">
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-user"></i>
          <p>Profile</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-users"></i>
          <p>User Mangagement</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
           <i class="pe-7s-news-paper"></i>
          <p>Product management</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-cart"></i>
          <p>Order management</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-pen"></i>
          <p>Comment management</p>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_index_path) do %>
          <i class="pe-7s-bell"></i>
          <p>articles management</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
