<%= form_with model: @product, local: true, class: 'form-horizontal', 
  html: { role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name", 
      required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Detail product"%>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control", placeholder: "Price", 
      min: 0, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :discount %>
    <%= f.number_field :discount, value: 0, min: 0, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :like %>
    <%= f.number_field :like, value: 0, min: 0, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :size_id, "Size" %>
    <%= f.select("size_id", "size_id",{}, { class:"form-control" }) do  %>
      <%= @sizes.each do |item| %> 
        <option value='<%= item.id %>'.html_safe><%=item.name%></option>
      <% end %> 
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :type_id, "Type" %>
    <%= f.select("type_id", "type_id",{}, { class:"form-control" }) do  %>
      <%= @types.each do |item| %> 
        <option value='<%= item.id %>'.html_safe><%=item.name%></option>
      <% end %> 
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :image_link %>
    <%= f.file_field :image_link, accept: 'image/jpeg, image/gif, image/png,
    image/jpg', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "Category" %>
    <%= f.select("category_id", "category_id", {}, { class:"form-control" }) do  %>
      <%= @categories.each do |item| %> 
        <% subcategories = Category.where(parent_id: item.id) %>
        <optgroup label='<%= item.name %>'.html_safe >
          <% subcategories.each do |sub|%>
            <option value='<%= sub.id %>'.html_safe><%=sub.name%></option>
          <% end %>
        </optgroup> 
      <% end %> 
    <% end %>
  </div>
    <div class="col-sm-offset-2 col-sm-2">
      <%= link_to "Cancel" , products_path ,class: "btn btn-primary"%>
    </div>
    <div class="col-sm-offset-4 col-sm-2">
      <%= f.submit ("Save"),class: "btn btn-primary" %>
    </div>
<% end %>
