<tr>
  <td><%= product.id %></td>
  <td>
    <% if product.image_link? %>
      <%= image_tag product.image_link.url, :size => "70x50" %>
    <% end %>
    </td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.category.name %></td>
  <td>
    <%= link_to product_path(product), method: :delete,
      data: {confirm: "Do you want delete this product"} do %>
      <i class="pe-7s-trash"></i>
    <% end %>
    |
    <%= link_to edit_product_path(product) do %>
      <i class="pe-7s-pen"></i>
    <% end %>
  </td>
</tr>
