<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Manage Categories</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        <%= link_to ("add new"), new_category_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-12">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5> List category </h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".id" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".parent_id" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-category">
                <%= render partial: "category", collection: @categories %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-offset-4 col-lg-8 ">
        <%= will_paginate(@productList, renderer: BootstrapPagination::Rails)%>
      </div>
    </div>
  </div>
</div>
