<% content_for :title, 'Shop Cafe' %>
<% content_for :script, javascript_include_tag(:shop) %>
<% content_for :script do %>
<!-- include  parallax plugin -->
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="assets/plugins/icheck-1.x/icheck.min.js"></script>

<% end %>

<div class="w100 productFilter clearfix">
  <p class="pull-left"> Showing <strong><%= @productByCategory.length %></strong> products </p>

  <div class="pull-right ">
    <div class="change-order pull-right">
      <select class="form-control" name="orderby">
        <option selected="selected">Default sorting</option>
        <option value="popularity">Sort by popularity</option>
        <option value="rating">Sort by average rating</option>
        <option value="date">Sort by newness</option>
        <option value="price">Sort by price: low to high</option>
        <option value="price-desc">Sort by price: high to low</option>
      </select>
    </div>
    <div class="change-view pull-right"><a href="#" title="Grid" class="grid-view"> <i class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i class="fa fa-th-list"></i></a></div>
  </div>
</div>

<div class="row  categoryProduct xsResponse clearfix">
  <% @productByCategory.each do |item| %>
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6" style="height: 476px;">
      <div class="product">
        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
          <i class="fas fa-heart"></i>
        </a>

        <div class="image">
          <div class="quickview">
            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html" data-target="#productSetailsModalAjax">Quick View </a>

          </div>
          <%= link_to product_path(item) do %>
            <%= image_tag("#{item.products[0]["image_link"]}", :class => 'img-responsive', alt: 'img') %>
          <% end %>
          
          <div class="promotion"><span class="new-product"> NEW</span> <span class="discount">Sale <%= item.products[0]["discount"]%>%</span></div>
        </div>
        <div class="description">
          <h4><a href="product-details.html"><%= item.name %></a></h4>
          <div class="list-description">
            <p><%= item.products[0]["description"]%></p>
          </div>
          <span class="size">S/ M/ L </span>
        </div>
        <div class="price"><span><%= item.products[0]["price"]%> VND</span></div>
        <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart colorWhite"></i> Add to cart </span> </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row categoryFooter">
  <div class="col-lg-offset-4 col-lg-8 ">
    <%= will_paginate(@productByCategory, renderer: BootstrapPagination::Rails) %>
  </div>
</div>
