<% content_for :title, @categories.name %>
<% content_for :script, javascript_include_tag(:shop) %>

<div class="w100 productFilter clearfix">
  <p class="pull-left"> Showing <strong><%= @productByCategory.size %></strong> products </p>

  <div class="pull-right ">
    <div class="change-order pull-right">
      <select class="form-control" name="orderby">
        <option selected="selected">Default sorting</option>
        <option value="popularity">Sort by popularity</option>
        <option value="rating">Sort by average rating</option>
        <option value="date">Sort by newness</option>
        <option value="price">Sort by price: low to high</option>
        <option value="price-desc">Sort by price: high to low</option>
      </select>
    </div>
    <div class="change-view pull-right"><a href="#" title="Grid" class="grid-view"> <i class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i class="fa fa-th-list"></i></a></div>
  </div>
</div>

<div class="row  categoryProduct xsResponse clearfix">
  <% @productByCategory.each do |product| %>
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6" 
      style="height: 476px;">
      <div class="product">
          <%= link_to product_path(id: product.id),
            method: :put, class: "add-fav tooltipHere ", style: "width: 50px;" do %>
            <i class="fas fa-heart">
              <span><%= product.view ? product.view : 0 %></span>
            </i>
          <% end %>

        <div class="image" style="height: 200px; width: 260px">
          <%= link_to product_path(product) do %>
            <%= cl_image_tag product.image_link, alt: 'img', height: "200px",
              width: "260px"%>
          <% end %>
          <div class="promotion"><span class="new-product"> NEW</span><%#= product.discount%></div>
        </div>
        <div class="description">
          <h4><%= product.name %></a></h4>
            <p><%= product.description%></p>
          <span class="size"><%= product.sizes.first.name %></span>
        </div>
        <div class="price">
          <span class="price"><%= product.product_options.first.price %>$</span>
        </div>
        <div class="action-control">
          <%= form_with scope: :cart, url: carts_path, local: true do |form| %>
            <%= form.hidden_field :price, value: product.product_options.first.price %>
            <%= form.hidden_field :size, value: product.sizes.first.name %>
            <%= form.hidden_field :type, value: product.types.first.name %>
            <%= form.hidden_field :product_id, value: product.id %>
            <%= form.hidden_field :quantity, value: 1 %>
            <%= form.submit 'Add to Cart', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <% if @lengh < 10 %>
    <div class="row categoryFooter">
      <div class="col-lg-offset-4 col-lg-8 ">
        <ul class="pagination pagination">
          <li class="prev disabled"><span>&#8592; Previous</span></li>
          <li class="active"><span>1</span></li> 
          <li class="next"><a>Next &#8594;</a></li>
        </ul>
      </div>
    </div>
  <% end %> 
  <div class="col-lg-offset-4 col-lg-8 ">
    <%= will_paginate(@productByCategory, renderer: BootstrapPagination::Rails) %>
  </div>
</div>
