<% content_for :script, javascript_include_tag(:shop) %>
<% content_for :script do %>
  
  <!-- include smoothproducts // product zoom plugin  -->
  <script type="text/javascript" src="../assets/js/smoothproducts.min.js"></script>

  <!-- jquery-migrate only for product details -->
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

  <!-- include  parallax plugin -->
  <script type="text/javascript" src="../assets/js/jquery.parallax-1.1.js"></script>

  <!-- optionally include helper plugins -->
  <script type="text/javascript" src="../assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

  <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

  <script type="text/javascript" src="../assets/js/jquery.mCustomScrollbar.js"></script>

  <!-- include icheck plugin // customized checkboxes and radio buttons   -->
  <script type="text/javascript" src="../assets/plugins/icheck-1.x/icheck.min.js"></script>

  <script>
  $(function () {

    $('.rating-tooltip-manual').rating({
      extendSymbol: function () {
        var title;
        $(this).tooltip({
          container: 'body',
          placement: 'bottom',
          trigger: 'manual',
          title: function () {
            return title;
          }
        });
        $(this).on('rating.rateenter', function (e, rate) {
          title = rate;
          $(this).tooltip('show');
        })
            .on('rating.rateleave', function () {
              $(this).tooltip('hide');
            });
      }
    });

  });
</script>

<% end %>

<%= form_with model: @product, local: true do |form| %>
<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="category.html">MEN COLLECTION</a></li>
        <li><a href="sub-category.html">TSHIRT</a></li>
        <li class="active">Lorem ipsum dolor sit amet</li>
      </ul>
    </div>
  </div>
  <div class="row transitionfx">

    <!-- left column -->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- product Image and Zoom -->
      <div class="main-image sp-wrap col-lg-12 no-padding">
        <%= image_tag("#{@product.image_link}", :class => 'img-responsive', alt: 'img') %>
        <!-- <a href="../assets/product_details/coffee/coffee_1.jpg"><%#= image_tag("#{@product.image_link}", 
        :class => 'img-responsive', alt: 'img') %></a>
        <a href="../assets/product_details/coffee/coffee_2.jpg"><%#= image_tag("#{image_path 'product_details/coffee/coffee_2.jpg'}", :class => 'img-responsive', alt: 'img') %></a></a>
        <a href="../assets/product_details/coffee/coffee_3.jpg"><%#= image_tag("#{image_path 'product_details/coffee/coffee_3.jpg'}", :class => 'img-responsive', alt: 'img') %></a></a> -->
      </div>

      <div class="form-group">
        <div class="col-sm-10">
        <span class="image">
          <%= form.file_field :image_link, accept: 'image/jpeg, image/gif, image/png' %>
        </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
        </div>   
      </div>
    </div>
    <!--/ left column end -->

    <!-- right column -->
    <div class="col-lg-6 col-md-6 col-sm-5">
      <h1 class="product-title"> Lorem ipsum dolor sit amet</h2>

        <h3 class="product-code">Product Code : DEN1098</h3>

        <div class="rating">
          <p><span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i
              class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i
              class="far fa-star "></i></span> <span class="ratingInfo"> <span> / </span> <a
              data-target="#modal-review" data-toggle="modal"> Write a review</a> </span></p>
        </div>
        <div class="product-price"><span class="price-sales"> $70</span> <span class="price-standard">$95</span>
        </div>
        <div class="details-description">
          <p>In scelerisque libero ut elit porttitor commodo Suspendisse laoreet magna. </p>
        </div>
        
        <div class="productFilter productFilterLook2">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <div class="filterBox">
                <%= form.select :size, @sizes.map { |size| [size.name] }, { include_blank: 'Size' }, { class: 'form-control' } %>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <div class="filterBox">
                <%= form.select :type, @types.map { |type| [type.name] }, { include_blank: 'Type' }, { class: 'form-control' } %>
              </div>
            </div>
          </div>
        </div>
        <!-- productFilter -->

        <div class="cart-actions">
          <div class="add to row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <%= button_to carts_path(product_id: @product.id, quantity: 1), 
                method: :create,
                class: "btn btn-primary" do %>
                <span>Add to Cart</span>
              <% end %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a class="link-wishlist wishlist btn-block ">Add
              to Wishlist</a></div>
          </div>
          <div style="clear:both"></div>
          <h3 class="incaps"><i class="fa fas fa-check-circle color-in"></i> In stock</h3>
          <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock
          </h3>
          <h3 class="incaps"><i class="fas fa-lock"></i> Secure online ordering</h3>
        </div>
        <!--/.cart-actions-->

        <div class="clear"></div>
        <div class="product-tab w100 clearfix">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#size" data-toggle="tab">Size</a></li>
            <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="details">Sed ut eros felis. Vestibulum rutrum imperdiet nunc a
              interdum. In scelerisque libero ut elit porttitor commodo. Suspendisse laoreet magna nec
              urna
              fringilla viverra.<br>
              100% Cotton<br>
            </div>
            <div class="tab-pane" id="size"> 16" waist<br>
              34" inseam<br>
              10.5" front rise<br>
              8.5" knee<br>
              7.5" leg opening<br>
              <br>
              Measurements taken from size 30<br>
              Model wears size 31. Model is 6'2 <br>
              <br>
            </div>
            <div class="tab-pane" id="shipping">
              <table>
                <colgroup>
                  <col style="width:33%">
                  <col style="width:33%">
                  <col style="width:33%">
                </colgroup>
                <tbody>
                <tr>
                  <td>Standard</td>
                  <td>1-5 business days</td>
                  <td>$7.95</td>
                </tr>
                <tr>
                  <td>Two Day</td>
                  <td>2 business days</td>
                  <td>$15</td>
                </tr>
                <tr>
                  <td>Next Day</td>
                  <td>1 business day</td>
                  <td>$30</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="3">* Free on orders of $50 or more</td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.tab content -->

        </div>
        <!--/.product-tab-->

        <div style="clear:both"></div>
        <div class="product-share clearfix">
          <p> SHARE </p>

          <div class="socialIcon"><a href="#"> <i class="fab fa-facebook-f"></i></a> <a href="#"> <i
              class="fab fa-twitter"></i></a> <a href="#"> <i class="fab fa-google-plus-g"></i></a> <a
              href="#">
            <i class="fab fa-pinterest"></i></a></div>
        </div>
        <!--/.product-share-->

    </div>
    <!--/ right column end -->

  </div>
  <!--/.row-->

  <div class="row recommended">
    <h1> YOU MAY ALSO LIKE </h1>

    <div id="SimilarProductSlider">
      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/a1.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">YOUR LIFE</a></h4>

            <div class="price"><span>$57</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/a2.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">RED CROWN</a></h4>

            <div class="price"><span>$44</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/a3.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">WHITE GOLD</a></h4>

            <div class="price"><span>$35</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/a4.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">DENIM 4240</a></h4>

            <div class="price"> $<span>55</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/30.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">CROWN ROCK</a></h4>

            <div class="price"><span>$500</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/a5.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">SLIM ROCK</a></h4>

            <div class="price"><span>$50 </span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/36.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">ROCK T-Shirts </a></h4>

            <div class="price"><span>$130</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->

      <div class="item">
        <div class="product"><a class="product-image"> <img src="images/product/13.jpg" alt="img"> </a>

          <div class="description">
            <h4><a href="san-remo-spaghetti">Denim T-Shirts </a></h4>

            <div class="price"><span>$43</span></div>
          </div>
        </div>
      </div>
      <!--/.item-->
    </div>
    <!--/.recommended-->

  </div>
  <div style="clear:both"></div>
</div>
<!-- /main-container -->
<% end %>
