<tr>
  <td><%= cl_image_tag order_detail.product.image_link, width: "70px" %></td>
  <td><%= order_detail.product.name %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= order_detail.size %></td>
  <td><%= order_detail.type %></td>
  <td><%= order_detail.price %></td>
</tr>
