<tr>
  <td><%= order.customer.first_name %></td>
  <td><%= order.customer.last_name %></td>
  <td><%= order.customer.email %></td>
  <td><%= order.amount %></td>
   <td><%= l(order.created, format: '%B, %d %Y') %></td>
  <td>
    <%= link_to customer_path(order), 
      title: "detail" do %>
      <i class="fa fa-info"></i>
    <% end %>
  </td>
</tr>
