<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
  <div class="navbar-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                  <div class="pull-left ">
                      <ul class="userMenu ">
                          <li><a href="#"> <span class="hidden-xs">HELP</span><i
                                  class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                          <li class="phone-number"><a href="callto:+12025550151"> <span> <i
                                  class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs"
                                                                                           style="margin-left:5px"> +1-202-555-0151 </span>
                          </a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                  <div class="pull-right">
                      <ul class="userMenu">
                          <% if current_user %>
                            <li class="hidden-xs"><%= link_to "#{current_user.first_name}" , "/users/#{current_user.id}" %></li>
                           <li class="hidden-xs"><%= link_to "Logout", '/logout' %></li>
                         <% else %>  
                            <li class="hidden-xs"><%= link_to 'Sign In', login_path %></li>
                            <li class="hidden-xs"><%= link_to 'Create Account', sign_up_path %></li>
                         <% end %>
                          
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/.navbar-top-->

  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                  class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                  class="icon-bar"> </span> <span class="icon-bar"> </span></button>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                  class="fa fa-shopping-cart colorWhite"> </i> <span
                  class="cartRespons colorWhite"> Cart ($210.00) </span></button>
          <%= link_to 'Cateria Cofee', root_path, class: 'navbar-brand' %>

          <!-- this part for mobile -->
          <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
              <div class="input-group">
                  <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
              </div>
              <!-- /input-group -->

          </div>
      </div>

      <!-- this part is duplicate from cartMenu  keep it for mobile -->
      <div class="navbar-cart  collapse">
          <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
              <div class="w100 miniCartTable scroll-pane">
                  <table>
                      <tbody>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html">
                              <%= image_tag("#{image_path 'product/3.jpg'}", :alt => 'img') %></a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html"> 
                                <%= image_tag("#{image_path 'product/2.jpg'}", :alt => 'img') %> </a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html"> 
                                <%= image_tag("#{image_path 'product/5.jpg'}", :alt => 'img') %> </a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html"><%= image_tag("#{image_path 'product/3.jpg'}", :alt => 'img') %> </a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html"> <%= image_tag("#{image_path 'product/3.jpg'}", :alt => 'img') %> </a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      <tr class="miniCartProduct">
                          <td style="width:20%" class="miniCartProductThumb">
                              <div><a href="product-details.html"> <%= image_tag("#{image_path 'product/4.jpg'}", :alt => 'img') %> </a>
                              </div>
                          </td>
                          <td style="width:40%">
                              <div class="miniCartDescription">
                                  <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                  <span class="size"> 12 x 1.5 L </span>

                                  <div class="price"><span> $8.80 </span></div>
                              </div>
                          </td>
                          <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                          <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                          <td style="width:5%" class="delete"><a> x </a></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <!--/.miniCartTable-->

              <div class="miniCartFooter  miniCartFooterInMobile text-right">
                  <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                  <a class="btn btn-sm btn-danger" href="cart.html"> <i class="fa fa-shopping-cart"> </i> VIEW CART
                  </a> <a href="checkout-0.html"
                          class="btn btn-sm btn-primary"> CHECKOUT </a></div>
              <!--/.miniCartFooter-->

          </div>
          <!--/.cartMenu-->
      </div>
      <!--/.navbar-cart-->

      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#"> Home </a></li>
              <li class="dropdown megamenu-fullwidth"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> New
                  Products <b class="caret"> </b> </a>
                  <ul class="dropdown-menu">
                      <li class="megamenu-content ">
                          <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                              <li class="no-border">
                                  <p class="promo-1"><strong> NEW COLLECTION </strong></p>
                              </li>
                              <li><a href="category.html"> ALL NEW PRODUCTS </a></li>
                              <li><a href="category.html"> NEW KEM </a></li>
                              <li><a href="category.html"> NEW COFFE </a></li>
                              <li><a href="category.html"> NEW TRA SUA </a></li>
                              <li><a href="category.html"> NEW SINH TO </a></li>
                          </ul>
                          <ul class="col-lg-3  col-sm-3 col-md-3  col-xs-4">
                              <li><a class="newProductMenuBlock" href="product-details.html">
                                <%= image_tag("#{image_path 'site/promo1.jpg'}", :alt => 'product', class: 'img-responsive') %>
                                <span
                                      class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> JEANS </span>
                              </a></li>
                          </ul>
                          <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-4">
                              <li><a class="newProductMenuBlock" href="product-details.html"> 
                                <%= image_tag("#{image_path 'site/promo2.jpg'}", :alt => 'product', class: 'img-responsive') %> <span
                                      class="ProductMenuCaption"> <i
                                      class="fa fa-caret-right"> </i> PARTY DRESS </span> </a></li>
                          </ul>
                          <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-4">
                              <li><a class="newProductMenuBlock" href="product-details.html"> 
                                <%= image_tag("#{image_path 'site/promo3.jpg'}", :alt => 'product', class: 'img-responsive') %> <span
                                      class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> SHOES </span>
                              </a></li>
                          </ul>
                      </li>
                  </ul>
              </li>

              <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->
              <li class="dropdown megamenu-80width "><a data-toggle="dropdown" class="dropdown-toggle" href="#"> SHOP
                  <b class="caret"> </b> </a>
                  <ul class="dropdown-menu">
                      <li class="megamenu-content">

                          <!-- megamenu-content -->

                          <ul class="col-lg-2  col-sm-2 col-md-2  unstyled noMarginLeft">
                              <li>
                                  <p><strong> COFFE </strong></p>
                              </li>
                              <li><a href="#"> Americano </a></li>
                              <li><a href="#"> Mocha </a></li>
                              <li><a href="#"> Latte </a></li>
                              <li><a href="#"> Macchiato</a></li>
                              <li><a href="#"> Cherry </a></li>
                              <li><a href="#"> Culi </a></li>
                              <li><a href="#"> Robusta </a></li>
                          </ul>
                          <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                              <li>
                                  <p><strong> TRA SUA </strong></p>
                              </li>
                              <li><a href="#"> Panjabi </a></li>
                              <li><a href="#"> Male Fragrances </a></li>
                              <li><a href="#"> Scarf </a></li>
                              <li><a href="#"> Sandal </a></li>
                              <li><a href="#"> Underwear </a></li>
                              <li><a href="#"> Winter Collection </a></li>
                              <li><a href="#"> Men Accessories </a></li>
                          </ul>
                          <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                              <li>
                                  <p><strong> SINH TO </strong></p>
                              </li>
                              <li><a href="#"> Diesel </a></li>
                              <li><a href="#"> Farah </a></li>
                              <li><a href="#"> G-Star RAW </a></li>
                              <li><a href="#"> Lyle & Scott </a></li>
                              <li><a href="#"> Pretty Green </a></li>
                              <li><a href="#"> TSHOP </a></li>
                              <li><a href="#"> TANJIM </a></li>
                          </ul>
                          <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-6">
                              <li class="no-margin productPopItem "><a href="product-details.html"> <img
                                      class="img-responsive" src="images/site/g4.jpg" alt="img"> </a> <a
                                      class="text-center productInfo alpha90" href="product-details.html"> Eodem modo
                                  typi <br>
                                  <span> $60 </span> </a></li>
                          </ul>
                          <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-6">
                              <li class="no-margin productPopItem relative"><a href="product-details.html"> <img
                                      class="img-responsive" src="images/site/g5.jpg" alt="img"> </a> <a
                                      class="text-center productInfo alpha90" href="product-details.html"> Eodem modo
                                  typi <br>
                                  <span> $60 </span> </a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              
      </div>
      <!--/.nav-collapse -->

  </div>
    <!--/.container -->

  <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

      <div class="searchInputBox pull-right">
          <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                 class="search-input">
          <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
      </div>
  </div>
    <!--/.search-full-->

</div>