<% content_for :script, javascript_include_tag(:shop) %>
<tr class="CartProduct">
  <td class="CartProductThumb">
    <div>
      <a href="product-details.html">
        <%= link_to order_detail.product do %>
          <%= image_tag "#{order_detail.product.image_link}" %>
        <% end %>
      </a>
    </div>
  </td>
  <td>
    <div class="CartDescription">
      <h4><a href="product-details.html">
        <%= link_to order_detail.product do %>
          <%= order_detail.product.name %>
        <% end %>
      </a></h4>
      <div class="price">
        <span>
          <%= order_detail.product.price %>
        </span>
      </div>
    </div>
  </td>
  <td class="delete">
    <%= link_to cart_path(id: order_detail.product_id),
        method: :delete,
        data: {confirm: "Do you want delete" } do %>
      <%= content_tag :i, "", class: "fa fa-times fa-2x" %>
    <% end %>
  </td>
  <td>
    <%= form_tag cart_path(id: order_detail.product_id), method: :put do %>
      <%= number_field_tag :quantity, nil, class: "form-group text-center ",
      min: 1, max: order_detail.product.quantity,
      value: order_detail.quantity %>
      <%= button_tag type: "submit", class: "btn btn-sm btn-primary",
      style: "margin: 14px -3px 15px -3px; padding: 5px" do %>
      <%= content_tag :span, "apply" %>
      <% end %>
    <% end %>
  </td>
  <td><%= order_detail.product.discount %></td>
  <td class="price"><%= order_detail.quantity*order_detail.product.price %></td>
</tr>
