<div class="container main-container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner"><span><i
        class="fa fa-shopping-cart"></i> Shopping cart </span></h1>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
        <h4 class="caps">
          <%= link_to root_path do %>
          <i class="fa fa-chevron-left"> </i> BACK TO SHOPPING
          <% end %> 
        </h4>
      </div>
    </div>
    <!--/.row-->

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-7">
        <%= render "shopping_cart" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
          <div class="contentBox">
            <div class="w100 costDetails">
              <div class="table-block" id="order-detail-content">

              <% if session[:shopping_cart].empty? %>
                <a class="btn btn-lg btn-block btn-primary btn-lg disabled "
                title="checkout"
                style="margin-bottom:20px"> 
                Proceed to checkout &nbsp; 
                <i class="fa fa-arrow-right"></i> 
                </a>
              <% else %>  
                <%= link_to root_path, class: "btn btn-primary btn-lg btn-block" ,
                  id: "order-detail-content", style: "margin-bottom:20px" do%>
                  <span>Proceed to checkout &nbsp; </span>
                  <i class="fa fa-arrow-right"> </i>
                <% end %>
               
              <% end %>

                <div class="w100 cartMiniTable">
                  <table id="cart-summary" class="std table">
                    <tbody>
                      <tr>
                        <td>Total products</td>
                        <td class="price"><%= @count_products %></td>
                      </tr>
                      <tr style="">
                        <td>Shipping</td>
                        <td class="price"><span class="success">Free shipping!</span></td>
                      </tr>
                      <tr class="cart-total-price ">
                        <td>Total (tax excl.)</td>
                        <td class="price">0</td>
                      </tr>
                      <tr>
                        <td>Total tax</td>
                        <td class="price" id="total-tax"><%= @total%></td>
                      </tr>
                      <tr>
                        <td> Total</td>
                        <td class=" site-color" id="total-price"><%= @total%></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="input-append couponForm">
                            <input class="col-lg-8" id="appendedInputButton" type="text"
                            placeholder="Coupon code">
                            <button class="col-lg-4 btn btn-success" type="button">Apply!</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End popular -->

      </div>
    </div>
  <div style="clear:both">
  </div>
</div>
