<% content_for :script, javascript_include_tag(:shop) %>

<div class="container main-container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner"><span><i
        class="fa fa-shopping-cart"></i> Shopping cart </span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
      <h4 class="caps">
        <%= link_to root_path do %>
        <i class="fa fa-chevron-left"> </i> BACK TO SHOPPING
        <% end %> 
      </h4>
    </div>
  </div>
    <!--/.row-->

    
  <div class="col-lg-9 col-md-9 col-sm-7">
    <div class="row userInfo">
      <div class="col-xs-12 col-sm-12">
        <div class="cartContent w100">
          <table class="cartTable table-responsive" style="width:100%">
            <tbody>
              <tr class="CartProduct cartTableHeader">
                <td style="width:15%"> Product</td>
                <td style="width:20%">Details</td>
                <td style="width:10%" class="delete">&nbsp;</td>
                <td style="width:10%">Size</td>
                <td style="width:10%">Type</td>
                <td style="width:20%">Quantity</td>
                <td style="width:15%">Total</td>
              </tr>
              <% @order_items.each do |order_detail| %>
                <tr class="CartProduct">
                  <td class="CartProductThumb">
                    <div>
                        <%= link_to order_detail.product do %>
                          <%= image_tag "#{order_detail.product.image_link}" %>
                        <% end %>
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="CartDescription">
                      <h4>
                        <%= link_to order_detail.product do %>
                          <%= order_detail.product.name %>
                        <% end %>
                      </a></h4>
                      <div class="price">
                        <span>
                          <%= order_detail.product.price %>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="delete">
                    <%= link_to cart_path(id: order_detail.product_id),
                        method: :delete,
                        data: {confirm: "Do you want delete" } do %>
                      <%= content_tag :i, "", class: "fa fa-trash fa-2x" %>
                    <% end %>
                  </td>
                  <td>
                  </td>
                  <td></td>
                  <td>
                    <%= form_tag cart_path(id: order_detail.product_id), method: :put do %>
                      <%= button_tag type: "submit", value: "-", class: "btn btn-sm btn-primary",
                      style: "margin: 14px -3px 15px -3px; padding: 5px 10px" do %>
                      <%= content_tag :span, " - " %>
                      <% end %>
                        
                      <%= label_tag "#{order_detail.quantity}", nil,  class: "btn"%>
                      <%= button_tag type: "submit", value: "+", class: "btn btn-sm btn-primary",
                      style: "margin: 14px -3px 15px -3px; padding: 5px 10px" do %>
                      <%= content_tag :span, " + " %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="price"><%= order_detail.quantity.to_i * order_detail.product.price.to_i %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-left">
                <%= link_to root_path, class: "btn btn-default" do%>
                  <i class="fa fa-arrow-left"> </i>&nbsp; Continue shopping
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
    <div class="contentBox">
      <div class="w100 costDetails">
        <div class="table-block" id="order-detail-content">

          <% if session[:shopping_cart].nil? %>
            <a class="btn btn-lg btn-block btn-primary btn-lg disabled "
            title="checkout"
            style="margin-bottom:20px"> 
            Proceed to checkout &nbsp; 
            <i class="fa fa-arrow-right"></i> 
          </a>
          <% else %>  
            <%= link_to new_checkout_path, class: "btn btn-primary btn-lg btn-block" ,
            id: "order-detail-content", style: "margin-bottom:20px" do %>
              <span>Proceed to checkout &nbsp; </span>
              <i class="fa fa-arrow-right"> </i>
            <% end %>

          <% end %>

          <div class="w100 cartMiniTable">
            <table id="cart-summary" class="std table">
              <tbody>
                <tr>
                  <td>Total products</td>
                  <td class="price"><%= @count_products %></td>
                </tr>
                <tr style="">
                  <td>Shipping</td>
                  <td class="price"><span class="success">Free shipping!</span></td>
                </tr>
                <tr class="cart-total-price ">
                  <td>Total (tax excl.)</td>
                  <td class="price">0</td>
                </tr>
                <tr>
                  <td>Total tax</td>
                  <td class="price" id="total-tax"><%= @total%></td>
                </tr>
                <tr>
                  <td> Total</td>
                  <td class=" site-color" id="total-price"><%= @total%></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="input-append couponForm">
                      <input class="col-lg-8" id="appendedInputButton" type="text"
                      placeholder="Coupon code">
                      <button class="col-lg-4 btn btn-success" type="button">Apply!</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>


  <div style="clear:both">
  </div>
</div>
