<%= form_with model: @sessions, :html => {:class => 'form-signin'}, local: true do |form| %>
  <div class="col-xs-12 col-sm-6">
    <h2 class="block-title-2"><span>Already registered?</span></h2>

    <div class="form-group">
      <%= form.label :email, 'Email address' %>
      <%= form.text_field :email, :class => 'form-control', :placeholder => 'Email address', :type => 'email' %>
    </div>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
    </div>
    <div class="checkbox">
      <%= form.label :remember %>
      <%= form.check_box :remember, class: 'col-md-2' %>
    </div>
    <div class="form-group">
        <p><a title="Recover your forgotten password" href="forgot-password.html">Forgot your
            password? </a></p>
    </div>
    <%= button_tag :class => 'btn btn-primary', :type => 'submit' do %>
      <i class="fas fa-sign-in-alt"></i> Sign in
    <% end %>
  </div>
<% end %>
